<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main>
      <section class="content">
        <form action="/auth/sign-in" method="POST">
          <section class="form-section">
            <fieldset>
              <h1>Sign in</h1>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
              </div>
              <section class="form-actions">
                <button type="submit" class="primary-btn btn">Sign in</button>
              </section>
    
            </fieldset>
            
          </section>
        </form>

      </section>
    </main>
  </body>
</html>
