<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main>
      <section class="content">
        
      </section>
    </main>
    <form action="/auth/sign-up" method="post">
      <section class="form-section">
        <fieldset>
          <h1>Create a new account!</h1>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" />
          </div>
          <section class="form-actions">
            <button type="submit" class="primary-btn btn">Sign up</button>
          </section>
        </fieldset>
      </section>
      


    </form>
  </body>
</html>
