<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTBS</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navbar') %>
    
    <section id="hero-section">
        <div id="hero-section-info">
            <p class="primary-color">| Welcome to MTBS</p>
            <h1>Movie<span class="primary-color">Booking</span></h1>
            <p>Discover the latest movies, explore showtimes, and reserve your
            favorite seats in just a few clicks.</p>
            <a href="/movies" class="primary-btn">▶︎ Browse Movies</a>
        </div>
    </section>
</body>
</html>