<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie | MTBS</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>

    <main>

        <section class="content card-container">
            <a href="/movies" class="primary-color" id="goback-btn"> ⮜ Back to Movies</a>
            <section class="card-container">

                <div class="page-header form-page-header">
                    <div class="page-heading form-page-header"">
                        <h1>Add New Movie</h1>
                        <p>Fill in the details below to add a new movie to the collection.</p>
                    </div>
                </div>
                <form method="POST" action="/movies">
                    <%- include('./partials/movie-form', {movie:{}, genres, languages, ageRatings}) %>
    
                    <section class="form-actions">
                        <button type="submit" class="primary-btn btn">Add Movie</button>
                        <a href="/movies" class="secondary-btn btn">Cancel</a>
                    </section>
    
                </form>
    
            </section>
            </section>

    </main>
    
</body>
</html>