<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Hall | MTBS</title>
        <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
 
    <main>

        <section class="content card-container">
            <a href="/halls" class="primary-color" id="goback-btn"> ⮜ Back to halls</a>
            <div class="page-header form-page-header">
                <div class="page-heading form-page-header">
                    <h1>Add New Hall</h1>
                    <p>Fill in the details below to add a new hall.</p>          
                </div>
            </div>
                <form method="POST" action="/halls/new">
                <div id="form-container">

                    <section class="form-section" id="basic-info-section">
                        <fieldset>
                        <%- include('./partials/form', {hall:{}}) %>

                        <section class="form-actions">
                            <button type="submit" class="primary-btn btn">Continue</button>
                            <a href="/halls" class="secondary-btn btn">Cancel</a>
                        </section>
                    </fieldset>
                </section>
            </div>
        

            </form>

        </section>

    </main>
    
</body>
</html>